[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dependency-injector = {extras = ["yaml"], version = "*"}
pydantic = "*"
fastapi = {extras = ["all"], version = "*"}
pybabel = "*"
sqlalchemy = "*"
bcrypt = "*"
fastapi-jwt-auth = "*"
pyjwt = "*"
alembic = "*"
uvicorn = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-cov = "*"
isort = "*"
autoflake = "*"
pre-commit = "*"
black = "*"
babel = "*"

[requires]
python_version = "3.9"

[scripts]
app = "uvicorn --log-level info main:app --reload"
test-cov = "pytest --disable-warnings --cov=app --cov-report=term --cov-report=xml tests"
test = "pytest --disable-warnings tests"
